﻿@model NewsFeedReader.Web.Models.Feed.FeedModel

@{
    ViewBag.Title = "Unsubscribe feed";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Delete", "Feed", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})

    @Html.HiddenFor(m => m.Id)

<p>Are you sure that you want to unsubscribe from the feed @Html.ActionLink(Model.Name, "View", "Feed", new {feedId = Model.Id}, null) ?</p>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-danger" value="Unsubscribe"/>
            @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-default"})
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}