﻿@model List<NewsFeedReader.Web.Models.Feed.FeedModel>

@{
    ViewBag.Title = "Feed Subscriptions";
}

<h2>@ViewBag.Title.</h2>

<p>
    <a href="@Url.Action("Add", "Feed")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Feed
    </a>
</p>

@if (Model.Count == 0)
{
    <p>You don't have any subscriptions. Please, add one.</p>
}
else
{
    <table class="table table-striped">
        @foreach (var feed in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(feed.Name, "View", new {feedId = feed.Id})
                </td>
                <td>
                    @feed.Url
                </td>
                <td>
                    @Html.ActionLink("Unsubscribe", "Delete", new { feedId = feed.Id })
                </td>
            </tr>
        }
    </table>
}