﻿@model List<NewsFeedReader.Web.Models.Feed.FeedItemModel>

@{
    ViewBag.Title = "Found Feed Items";
}

<h2>
    <span>@ViewBag.Title</span>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go To The Main Screen
    </a>
</h2>

@if (Model.Count == 0)
{
    <p>
        Looks like this search didn't return any results
    </p>
}
else
{
    @Html.Partial("_FeedItems")
}