﻿@model List<NewsFeedReader.Web.Models.Feed.FeedItemModel>

@{
    ViewBag.Title = "Feed Items";
}

<h2>
    <span>@ViewBag.Title @(Model.Count > 0 ? $"on {Model[0].Feed.Name}" : "")</span>
    <a href="@Url.Action("Index", "Feed")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go To All Feeds
    </a>
</h2>

@if (Model.Count == 0)
{
    <p>
        Looks like this feed doesn't have any feed items.
    </p>
}
else
{
    @Html.Partial("_FeedItems")
}