﻿@model List<NewsFeedReader.Web.Models.Feed.FeedItemModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>News Feed Reader</h1>
    <p class="lead">A sample news feed reader for Modus Create</p>
    @if (!Request.IsAuthenticated)
    {
        <p>
            Please
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
            or
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </p>
    }
</div>

<h3>
    <span>My Feed Items</span>
    <a href="@Url.Action("Add", "Feed")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Feed
    </a>
</h3>

@if (Request.IsAuthenticated)
{
    if (Model.Count == 0)
    {
        <p>
            Looks like you don't have any. Try to @Html.ActionLink("add some subscriptions", "Add", "Feed")
        </p>
    }
    else
    {
        using (Html.BeginForm("Search", "Feed", FormMethod.Get, new { @class = "form-inline", role = "form" }))
         {
             <div class="form-group">
                 @Html.Label("search", "Search")
                 @Html.TextBox("search", null, new { @class = "form-control" })
             </div>
             <button type="submit" class="btn btn-default">Search</button>
         }

        <hr/>

        @Html.Partial("_FeedItems")
    }
}