﻿@model List<NewsFeedReader.Web.Models.Feed.FeedItemModel>

@foreach (var feedItem in Model)
{
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@feedItem.Url" target="_blank">@feedItem.Name</a>
    </div>
    <div class="panel-body auto-overflow">
        @Html.Raw(feedItem.Text)
    </div>
    <div class="panel-footer">
        Published at @feedItem.PublicationDate on @Html.ActionLink(feedItem.Feed.Name, "View", "Feed", new {feedId = feedItem.Feed.Id}, null)
    </div>
</div>
}